{% extends 'index.html' %}
{% load static %}

{% block body_block %}
     <a href="../auth/logout" style="margin-left: 100%">Logout</a>
<h1>  GAME OVER</h1>
<h2>Your Scores: <span>{{ score }}</span></h2>
<div>
    {% if true_choices %}
    <h3>RIGHT answer was:</h3>
        {% for choice in true_choices %}
            <span>{{ choice }}</span>
        {% endfor %}
    {% endif %}
</div>
    <button class="start-game-btn"><a class="start-game-link" href="/question">Start New Game</a></button>
    <a href="../" style="margin-left: 5em">See Top Players</a>

{% endblock %}