<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
 {% load static %}
<link href="{% static 'css/main.css' %}" rel="stylesheet"/>

    {% block styles %}
        <link href="{% static 'css/top-players.css' %}" rel="stylesheet"/>
    {% endblock %}
</head>
<body>
<div class="page">
    {% block body_block %}
 <a href="auth/logout" style="margin-left: 100%">Logout</a>
        <div class="numberlist">
            <h1>TOP PLAYERS</h1>
            <ol>
                {% for top_player in top_players %}
{#do refactor#}
                <li><label class=".numberlist">
                    {{ top_player.user.username }}:{{ top_player.score }}</label></li>

                {% endfor %}

            </ol>


        </div>
        <button type class="start-game-btn"><a href="/question" style="clear: both" class="start-game-link">Start Game</a></button>


    {% endblock %}
</div>
</body>
</html>